<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Projeto Tio Betão Personalizado - Blue</title>
  </head>
  <body>
    <div class="container">
      <div class="logoBlue">
        <img
          src="/static/logo-blue-croped.gif"
          width="100"
          alt="Logo da Blue"
          id="blue"
        />
      </div>
      <div class="inicio">
        <div id="texto">Escolha sua Runa de Batalha</div>
        <div class="imagensConteudo">
          <div class="molde">
            <img src="/static/logoTheWhitcher.png" alt="Logo The Whitcher" id="imagemRuna" />
          </div>
        </div>
      </div>
      <div class="conteudo">
        {% for runa in runas %}
        <label for="{{runa.nome}}">
          <div class="radios">
              {{runa.nome}}
              <div class="runas">
                <img src="{{runa.imagem}}" alt="" />
                <img src="{{runa.cardArt}}" class="imagensCadrArt" width="100" alt="" hidden>
              </div>
              <input
              type="radio"
              name="escolha"
              class="escolhaRuna"
              id="{{runa.nome}}"
              value="{{runa.nome}}"
              onclick="escolhido()"
              hidden
              />
            </div>
          </label>
            {% endfor %} 
          </div>
        </div>
        <div class="btnEnviar">
          <input type="button" value="Ver Runa" id="botao" class="btnEnviarForm">
        </div>
      </div>
      <script src="/static/index.js"></script>
  </body>
</html>
